name: CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get -y --no-install-recommends install ksh zsh texlive-latex-extra poppler-utils # texlive-xetex texlive-luatex texlive-font-utils ghostscript
    - name: Check completions
      run: l3build check -ccompletion || { cat build/test-completion/*.diff; false; }
    - name: Check TeX inputs
      run: l3build check || { cat build/test/*.diff; false; }
    # Disabled due to unstability. Would need a job to create references to test against.
    # - name: Check TeX outputs
      # run: utils/check-tex.sh
