name: Code Check

on: [ push, pull_request ]

jobs:
  code-analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get -y --no-install-recommends install shellcheck devscripts groff mandoc
    - name: Unpack
      run: utils/build.sh N.NN
    - name: Shellcheck
      run: shellcheck build/pdfjam/bin/pdfjam
    - name: Check Bash-isms
      run: checkbashisms -xp build/pdfjam/bin/pdfjam
    - name: Check man page (groff)
      run: groff -mandoc -t -K utf8 -b -rCHECKSTYLE=10 -ww -z build/pdfjam/man/pdfjam.1
    - name: Check man page (nroff)
      run: nroff -mandoc -t -K utf8 -b -rCHECKSTYLE=10 -ww -z build/pdfjam/man/pdfjam.1
    - name: Lint man page (mandoc)
      run: mandoc -T lint build/pdfjam/man/pdfjam.1
    - name: Lint man page (full stops in text shall match '\.$' or '\.\\&' not '\. ')
      run: ! grep '\. ' build/pdfjam/man/pdfjam.1
